<!DOCTYPE html>
<html>
<head>
	<title>DATA PREPROCESSING : FEATURE CREATION</title>
	<style>
		.post-container {
    margin: 20px 20px 0 0;  
    border: 5px solid #333;
    overflow: auto
}
.post-thumb {
    float: left
}
.post-thumb img {
    display: block;
    width: 200px;
    height: auto;
}
.post-content {
    margin-left: 210px
}
.post-title {
    font-weight: bold;
    font-size: 200%;
    padding: 9px;
    background: #ccc
}

.tabs {
  margin-top: 20px;
}

.tabs ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.tabs li {
  flex: 1;
  text-align: center;
}

.tabs li a {
  display: block;
  padding: 10px;
  background-color: #f2f2f2;
  color: #333;
  text-decoration: none;
  border: 1px solid #ccc;
  border-bottom: none;
}

.tabs li.active a {
  background-color: #fff;
  border-color: #ccc;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.tab-content table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1px;
}

.tab-content table th,
.tab-content table td {
  padding: 5px;
  text-align: center;
  border: 1px solid #ccc;
}
	</style>
</head>
<body>

	

  <div class="post-container">
    <h3 class="post-title">DATA PREPROCESSING : FEATURE CREATION</h3>
    <div class="post-thumb"><img src="/static/datapreprocess.jpeg" alt="DATA PREPROCESSING"/></div>
    <div class="post-content">
        <p>Steps to make data usable by the ML model–e.g., dropping or imputing missing values, transforming 
            (standardizing or normalizing data), as well as feature engineering, i.e. deciding how to construct 
            features from available information for use in the model, and which of the constructed features to use for prediction. 
            Again, there are myriad ways for biases to enter through feature engineering decisions such as building features from data 
            that is likely to be of higher quality for some groups, using data transformations with differential error rates across groups, 
            imputing missing data in ways that have differential accuracy across groups, selecting features which are differentially informative 
            across demographic populations, or choosing normatively objectionable features to use for a prediction task, such as whether or not the family 
            members of a defendant have criminal records to determine whether they are recommended for release or to be jailed.</p>
    </div>
  </div>
    <div class="tabs">
      <ul>
        <li><a href="#casestudy">Case Study</a></li>
        <li><a href="#problemidentification">Problem Identification</a></li>
        <li><a href="#measurement">Measurement</a></li>
        <li><a href="#mitigation">Mitigation</a></li>
      </ul>
      <div class="tab-content" id="casestudy">
        <table>
          <thead>
            <tr>
              <th>Paper Title</th>
              <th>Authors</th>
              <th>Description</th>
              <th>Tags/Comments</th>
              <th>Conference Venue</th>
              <th>Year</th>
              <th>Paper link</th>
              <th>Additional resources</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <div class="tab-content" id="problemidentification">
        <table>
          <thead>
            <tr>
              <th>Paper Title</th>
              <th>Authors</th>
              <th>Description</th>
              <th>Tags/Comments</th>
              <th>Conference Venue</th>
              <th>Year</th>
              <th>Paper link</th>
              <th>Additional resources</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <div class="tab-content" id="measurement">
        <table>
          <thead>
            <tr>
              <th>Paper Title</th>
              <th>Authors</th>
              <th>Description</th>
              <th>Tags/Comments</th>
              <th>Conference Venue</th>
              <th>Year</th>
              <th>Paper link</th>
              <th>Additional resources</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Controllable Invariance through Adversarial Feature Learning</td>
              <td>Qizhe Xie, Zihang Dai, Yulun Du, Eduard Hovy, Graham Neubig</td>
              <td>N/A</td>
              <td>Data Preprocessing, Data Cleaning (Omission), Measurement</td>
              <td>NeurIPS</td>
              <td>2017</td>
              <td><a href="https://proceedings.neurips.cc//paper/2017/hash/8cb22bdd0b7ba1ab13d742e22eed8da2-Abstract.html">Controllable Invariance through Adversarial Feature Learning</a></td>
              <td>None</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="tab-content" id="mitigation">
        <table>
          <thead>
            <tr>
              <th>Paper Title</th>
              <th>Authors</th>
              <th>Description</th>
              <th>Tags/Comments</th>
              <th>Conference Venue</th>
              <th>Year</th>
              <th>Paper link</th>
              <th>Additional resources</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Optimized Pre-Processing for Discrimination Prevention</td>
              <td>Flavio Calmon, Dennis Wei, Bhanukiran Vinzamuri, Karthikeyan Natesan Ramamurthy, Kush R. Varshney</td>
              <td>N/A</td>
              <td>Data Preprocessing, Data Cleaning (Omission), Mitigation</td>
              <td>NeurIPS</td>
              <td>2017</td>
              <td><a href="https://proceedings.neurips.cc/paper/2017/hash/9a49a25d845a483fae4be7e341368e36-Abstract.html">Optimized Pre-Processing for Discrimination Prevention</a></td>
              <td>None</td>
            </tr>
            <tr>
              <td>Towards Fair Deep Anomaly Detection</td>
              <td>Hongjing Zhang, Ian Davidson</td>
              <td>N/A</td>
              <td>Data Preprocessing, Data Cleaning (Omission), Mitigation</td>
              <td>FAccT</td>
              <td>2021</td>
              <td><a href="https://dl.acm.org/doi/10.1145/3442188.3445878">Towards Fair Deep Anomaly Detection</a></td>
              <td>None</td>
            </tr>
            
          </tbody>
        </table>
    </div>
  </div>
    
    <!-- JavaScript for the tabs -->
    <script>
      const tabLinks = document.querySelectorAll('.tabs li a');
      const tabContents = document.querySelectorAll('.tab-content');

      tabLinks.forEach((link) => {
        link.addEventListener('click', (e) => {
          e.preventDefault();

          const targetId = e.target.getAttribute('href').substr(1);

          tabLinks.forEach((link) => {
            link.parentNode.classList.remove('active');
          });

          tabContents.forEach((content) => {
            content.classList.remove('active');
          });

          e.target.parentNode.classList.add('active');
          document.getElementById(targetId).classList.add('active');
        });
      });
    </script>
  </body>
</html>