<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title style="text-align:center">Pipeline Fairness</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="../static/style_index.css">
    </head>
<body>
    <!-- {% if username %} -->
        <!-- Display user details here
        <p>User Details: {{ user_details }}</p> -->
        
        
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Pipeline Fairness</a>
            </div>
            <div class="dropdown-nav">
                <button class="dropbtn" onclick="myFunction()">Stages
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content" id="myDropdown">
                    <a href="#">Viability Assessments</a>
                    <a href="#">Problem Formulation</a>
                    <a href="#">Data Collection</a>
                    <a href="#">Data Preprocessing</a>
                    <a href="#">Statistical Modeling</a>
                    <a href="#">Testing & Validation</a>
                    <a href="#">Deployment & Integration</a>
                </div>
            </div> 

            <a href="#about">About</a>
            <a href="#contact">Contact</a>
            <form class="navbar">
                
                
                <h1 class="message">Welcome, {{ username }}!</h1>
                
            </form> 
            <!-- role="search" action="{{ url_for('search') }}">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" name="query">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
                
            </form> -->
            <!-- <a href="{{ url_for('register') }}">Register</a>

            <a href="{{ url_for('login') }}">Login</a> -->
            <a href="{{ url_for('logout') }}" class="logout-button">Logout</a>
        </div>
    </nav>
    <div class="container-title">
        <h1 style="text-align:center">Operationalizing a Pipeline-aware View of Fairness</h1>
        <h3 style="text-align:center">This is the homepage of Pipeline Fairness</h3>
    </div>

    <div class="container-body">
        <div class="septagon">
            <div class="shape">
                <img src="/static/cat.jpeg">
                <div class="content">
                    <div>
                        <h2>1. Viability Assessments</h2>
                    </div>
                    <ul>
                        <li><a href="{{ url_for('viabilityassessments_cost') }}">COST/BENEFIT</a></li>
                        <li><a href="{{ url_for('viabilityassessments_general') }}">GENERAL</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="septagon">
            <div class="shape">
                <img src="/static/target.png">
                <div class="content">
                    <div>
                        <h2>2. Problem Formulation</h2>
                    </div>
                    <ul>
                        <li><a href="{{ url_for('problemformulation_predictiontarget') }}">PREDICTION TARGET</a></li>
                        <li><a href="{{ url_for('problemformulation_predictiveattributes') }}">PREDICTIVE ATTRIBUTES</a></li>
                        <li><a href="{{ url_for('problemformulation_general') }}">GENERAL</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="septagon">
            <div class="shape">
                <img src="/static/floppy.png">
                <div class="content">
                    <div>
                        <h2>3. Data Collection</h2>
                    </div>
                    <ul>
                        <li><a href="{{ url_for('datacollection_sampling') }}">SAMPLING</a></li>
                        <li><a href="{{ url_for('datacollection_annotation') }}">ANNOTATION</a></li>
                        <li><a href="{{ url_for('datacollection_featuremeasurement') }}">FEATURE MEASUREMENT</a></li>
                        <li><a href="{{ url_for('datacollection_recordlinkage') }}">RECORD LINKAGE</a></li>
                        <li><a href="{{ url_for('datacollection_general') }}">GENERAL</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="septagon">
            <div class="shape">
                <img src="/static/floppy.png">
                <div class="content">
                    <div>
                        <h2>4. Data Preprocessing</h2>
                    </div>
                    <ul>
                        <li><a href="{{ url_for('datapreprocessing_featurecreation') }}">FEATURE CREATION</a></li>
                        <li><a href="{{ url_for('datapreprocessing_featureselection') }}">FEATURE SELECTION</a></li>
                        <li><a href="{{ url_for('datapreprocessing_omission') }}">DATA CLEANING (OMISSION)</a></li>
                        <li><a href="{{ url_for('datapreprocessing_general') }}">GENERAL</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-body">
        <div class="septagon">
            <div class="shape">
                <img src="/static/cat.jpeg">
                <div class="content">
                    <div>
                        <h2>5. Statistical Modeling</h2>
                    </div>
                    <ul>
                        <li><a href="{{ url_for('statisticalmodeling_hypothesisclass') }}">HYPOTHESIS CLASS</a></li>
                        <li><a href="{{ url_for('statisticalmodeling_optfunc') }}">OPTIMIZATION FUNCTION</a></li>
                        <li><a href="{{ url_for('statisticalmodeling_regularizers') }}">REGULARIZERS</a></li>
                        <li><a href="{{ url_for('statisticalmodeling_hyperparameters') }}">HYPERPARAMETERS</a></li>
                        <li><a href="{{ url_for('statisticalmodeling_general') }}">GENERAL</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="septagon">
            <div class="shape">
                <img src="/static/cat.jpeg">
                <div class="content">
                    <div>
                        <h2>6. Testing and Validation</h2>
                    </div>
                    <ul>
                        <li><a href="{{ url_for('testingnvalidation_traintestsplit') }}">TRAIN-TEST SPLIT</a></li>
                        <li><a href="{{ url_for('testingnvalidation_evaluationmetrics') }}">EVALUATION METRICS</a></li>
                        <li><a href="{{ url_for('testingnvalidation_general') }}">GENERAL</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="septagon">
            <div class="shape">
                <img src="/static/cat.jpeg">
                <div class="content">
                    <div>
                        <h2>7. Deployment and Integration</h2>
                    </div>
                    <ul>
                        <li><a href="{{ url_for('deploymentnintegration_humancomputerhandoff') }}">HUMAN-COMPUTER HAND-OFF</a></li>
                        <li><a href="{{ url_for('deploymentnintegration_maintenanceoversight') }}">MAINTENANCE OVERSIGHT</a></li>
                        <li><a href="{{ url_for('deploymentnintegration_general') }}">GENERAL</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <!-- <div class="div-img"></div> -->
    <!-- <div class="row div-img container1">
        <div class="column1 item image-container">
            <img src="/static/cat.jpeg" class="thumbnail" id="va">
            <div class="text">
                <p>VIABILITY ASSESSMENTS</p>
            </div>
            <div class="dropdown">
                <ul>
                    <li><a href="viabilityassessments/cost.html">Cost/Benefit</a></li>
                    <li><a href="viabilityassessments/general.html">General</a></li>
                </ul>
            </div>
        </div>
        <div class="column1 item image-container">
            <img src="/static/target.png" class="thumbnail" id="pf">
            <div class="text">
                <p>PROBLEM FORMULATION</p>
            </div>
            <div class="dropdown">
                <ul>
                    <li><a href="problemformulation/predictiontarget.html">PREDICTION TARGET</a></li>
                    <li><a href="problemformulation/predictiveattributes.html">PREDICTIVE ATTRIBUTES</a></li>
                    <li><a href="problemformulation/general.html">GENERAL</a></li>
                </ul>
            </div>
        </div>
        <div class="column1 item image-container">
            <img src="/static/floppy.png" class="thumbnail" id="dc">
            <div class="text">
                <p>DATA COLLECTION</p>
            </div>
            <div class="dropdown">
                <ul>
                    <li><a href="{{ url_for('datacollection_sampling', mode=mode) }}">SAMPLING</a></li>
                    <li><a href="{{ url_for('datacollection_annotation', mode=mode) }}">ANNOTATION</a></li>
                    <li><a href="{{ url_for('datacollection_featuremeasurement', mode=mode) }}">FEATURE MEASUREMENT</a></li>
                    <li><a href="{{ url_for('datacollection_recordlinkage', mode=mode) }}">RECORD LINKAGE</a></li>
                    <li><a href="{{ url_for('datacollection_general', mode=mode) }}">GENERAL</a></li>
                </ul>
            </div>
        </div>
        <div class="column1 item image-container">
            <img src="/static/datapreprocess.jpeg" class="thumbnail" id="dp">
            <div class="text">
                <p>DATA PREPROCESSING</p>
            </div>
            <div class="dropdown">
                <ul>
                    <li><a href="datapreprocessing/featurecreation.html">FEATURE CREATION</a></li>
                    <li><a href="datapreprocessing/featureselection.html">FEATURE SELECTION</a></li>
                    <li><a href="datapreprocessing/omission.html">DATA CLEANING (OMISSION)</a></li>
                    <li><a href="datapreprocessing/general.html">GENERAL</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row div-img container1">
        <div class="column2 item image-container">
            <img src="/static/cat.jpeg" class="thumbnail" id="sm">
            <div class="text">
                <p>STATISTICAL MODELING</p>
            </div>
            <div class="dropdown">
                <ul>
                    <li><a href="statisticalmodeling/hypothesisclass.html">HYPOTHESIS CLASS</a></li>
                    <li><a href="statisticalmodeling/optfunc.html">OPTIMIZATION FUNCTION</a></li>
                    <li><a href="statisticalmodeling/lossfunc.html">LOSS FUNCTION</a></li>
                    <li><a href="statisticalmodeling/regularizers.html">REGULARIZERS</a></li>
                    <li><a href="statisticalmodeling/hyperparameters.html">HYPERPARAMETERS</a></li>
                    <li><a href="statisticalmodeling/general.html">GENERAL</a></li>
                </ul>
            </div>
        </div>
        <div class="column2 item image-container">
            <img src="/static/cat.jpeg" class="thumbnail" id="tv">
            <div class="text">
                <p>TESTING & VALIDATION</p>
            </div>
            <div class="dropdown">
                <ul>
                    <li><a href="testingnvalidation/traintestsplit.html">TRAIN-TEST SPLIT</a></li>
                    <li><a href="testingnvalidation/evaluationmetrics.html">EVALUATION METRICS</a></li>
                    <li><a href="testingnvalidation/general.html">GENERAL</a></li>
                </ul>
            </div>
        </div>
        <div class="column2 item image-container">
            <img src="/static/orgnint.png" class="thumbnail" id="di">
            <div class="text">
                <p>DEPLOYMENT & INTEGRATION</p>
            </div>
            <div class="dropdown">
                <ul>
                    <li><a href="deploymentnintegration/humancomputerhandoff.html">HUMAN-COMPUTER HAND-OFF</a></li>
                    <li><a href="deploymentnintegration/maintenanceoversight.html">MAINTENANCE OVERSIGHT</a></li>
                    <li><a href="deploymentnintegration/general.html">GENERAL</a></li>
                </ul>
            </div>
        </div>
    </div> -->
    <!-- {% else %}
        <p>Please login to access this page.</p>
    {% endif %} -->

    

    <script>
        /* When the user clicks on the button, 
        toggle between hiding and showing the dropdown content */
        function myFunction() {
          document.getElementById("myDropdown").classList.toggle("show");
        }
        
        // Close the dropdown if the user clicks outside of it
        window.onclick = function(e) {
          if (!e.target.matches('.dropbtn')) {
          var myDropdown = document.getElementById("myDropdown");
            if (myDropdown.classList.contains('show')) {
              myDropdown.classList.remove('show');
            }
          }
        }

        $(document).ready(function() {
            $('img.thumbnail').click(function() {
                window.location.href = this.id + '.html';
            });
        });
</script>
</body>
</html>